[Desktop Entry]
Name=Fig Linux
Comment=Unofficial desktop application for linux
Exec=fig-linux %U
Terminal=false
Type=Application
Icon=fig-linux
StartupWMClass=fig-linux
X-AppImage-Version=0.12.0
Categories=Graphics;
MimeType=application/figma;x-scheme-handler/figma;
